@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.project {
    &__content {
        display: flex;
        flex-direction: column;
        width: 40.2%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: rem(24px);

        &--mobile {
            @media (max-width: 768px) {
                order: -1;
                margin-bottom: rem(24px);
            }
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: rem(16px);
        padding-bottom: rem(16px);

        &--mobile {
            padding-top: rem(16px);
        }
    }

    &__tag {
        font-size: $font-size-b3;
        font-style: italic;
        padding: rem(12px) rem(16px);
        border-radius: rem(48px);
        border: 1px solid #B0AEAE;
    }

    &__body {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: rem(16px);

        p {
            margin-bottom: 0.5rem;
        }
    }

    &__view-projects-button {
        height: fit-content;
    }
}