@import '@/assets/styles/functions';
@import '@/assets/styles/_variables.scss';
.project-header {
    @include adaptiveValue("padding-bottom", 46, 24);
    &__title {
        font-size: $font-size-h2;
            color: $color-text-primary;
            font-weight: bold;
            line-height: 1.5;
            flex: 1 0 auto;
    }
}