@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.project {
    display: flex;
    border-radius: 10px;
    color: #fff;
    @include adaptiveValue("padding-bottom", 96, 80);
    justify-content: space-between;
    height: 100%;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}