@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.about-me {
    @include adaptiveValue("padding-top", 192, 80);

    &__content {
        display: flex;
    }

    @media (max-width: $breakpoint-md) {
        &__content {
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
        }
    }
}