// Шрифты
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Martian Mono', monospace;

// Размеры шрифтов
$font-size-headline: 112px;
$font-size-h1: 64px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-b1: 24px;
$font-size-b2: 20px;
$font-size-b3: 16px;
$font-size-b4: 12px;

// Жирность шрифта
$font-weight-regular: 400;
$font-weight-bold: 700;

// Цвета
$color-text-main: #A6A6A6;
$color-text-primary: #F5F5F5;
$color-text-secondary: #FFFFFF;
$color-text-btn: #121212;
$color-background: #121212;
$color-primary: #007bff;
$color-secondary: #6c757d;

// Отступы

// Ширина контейнера
$container-max-width: 1224px;

// Брейкпоинты для медиа-запросов
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1224px;

// Другие переменные
