
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

//Functions
@import 'functions';

//Global
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #121212;
    color: #A6A6A6;
}