@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.footer {
    &__named {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    font-size: $font-size-b3;
    font-style: italic;
    line-height: 1.5;
    color: $color-text-main;
    div {
        display: flex;
        gap: rem(24);
    }
    @media (max-width: $breakpoint-md) {
        padding: rem(24) 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div {
            flex-direction: column-reverse;
        }
        }
    }
    &__named-name {
        font-family: $font-secondary;
        @include adaptiveValue('font-size', 64, 30);
        font-weight: bold;
        color: $color-text-secondary;
        line-height: 1.5;
    }
}